@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");



body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: "Poppins" !important;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
    height: 10vh;
    background-color: #474459;
    height: 100vh;
    width: 300px;
}

a {
    text-decoration: none !important;
    color: white !important;
}

a:visited {
    text-decoration: none  !important;
    color: white !important;
}
a:hover {
    text-decoration: none !important;
    color: white !important;
}
a:focus {
    text-decoration: none !important;
    color: whitev;
}
a:hover,
a:active {
    text-decoration: none !important;
    color: white !important;
}

.navbarre:active {
    color: white;
}

.logo-button {
    width: 100%;
    text-align: center;
    margin-top: 2vh;
    font-size: 25px;
}

.logo-accueil {
    color: white;
    text-decoration: none;
}
#link-pages {
    margin-top: 5vh;
}

#link-pages div a {
    margin: 15px 5px;

    display: flex;
    align-items: center;
}

#link-pages div {
    border-top: solid 2px white;
    display: flex;
    align-items: center;
    // justify-content: ;
}

#link-pages div a img {
    width: 30px;
    margin-right: 10px;
}

#link-pages > div:last-child {
    border-bottom: solid 2px white;
}

#settings-links {
    margin-top: 5vh;
}

#settings-links div {
    // border-top: solid 2px white;
    display: flex;
    align-items: center;
}

#settings-links div a {
    margin: 10px 5px;
    display: flex;
    align-items: center;
}

#settings-links > div:last-child {
    // border-bottom: solid 2px white;
}

#interface {
    height: 100vh;
    width: calc(100vw - 300px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(237, 237, 237);
}

#interface > div {
    width: 98%;
    height: 98%;
    border-radius: 30px;
    background-color: rgb(240, 240, 240);
    box-shadow: 1px 0px 33px -2px rgba(0, 0, 0, 0.32);
    -webkit-box-shadow: 1px 0px 33px -2px rgba(0, 0, 0, 0.32);
    -moz-box-shadow: 1px 0px 33px -2px rgba(0, 0, 0, 0.32);
}

.wrapper {
    margin: 0 auto;
    padding: 40px;
    max-width: 800px;
}

.table {
    margin: 0 0 40px 0;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    display: table;
    @media screen and (max-width: 580px) {
        display: block;

        
    }
}

.ligne {
    display: table-row;
    background: #f6f6f6;

    &:nth-of-type(odd) {
        background: #e9e9e9;
    }

    &.header {
        font-weight: 900;
        color: #ffffff;
        background: #ea6153;
    }

    &.green {
        background: #27ae60;
    }

    &.blue {
        background: #2980b9;
    }
    @media screen and (max-width: 580px) {
        padding: 14px 0 7px;
        display: block;
        
        &.header {
            padding: 0;
            height: 6px;
        
            .cellule {
                display: none;
            }

           
        }

        .cellule {
            margin-bottom: 10px;
        
            &:before {
                margin-bottom: 3px;
                content: attr(data-title);
                min-width: 98px;
                font-size: 10px;
                line-height: 10px;
                font-weight: bold;
                text-transform: uppercase;
                color: #969696;
                display: block;
            }
        }
}
}





.cellule {
    padding: 6px 12px;
    display: table-cell;

    @media screen and (max-width: 580px) {
        padding: 2px 16px;
        display: block;
    }

    .view-button {
        font-size: 30px;
        background: #ffffff;
        -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 25%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 25%);
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 6px;
        padding: 1px 1vw;
        mix-blend-mode: multiply;
        background-color: #0372e8;
        color: #000;
        mix-blend-mode: multiply;
        height: 25px;
        opacity: 0.9;
      }
      
      .view-button:hover {
        background: rgb(80, 123, 189);
        color: rgba(216, 168, 94, 0.708);
        border: 2px solid rgb(7, 89, 198);
      }

    .edit-button {
        font-size: 30px;
        background: #ffffff;
        -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 25%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 25%);
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 6px;
        padding: 1px 1vw;
        mix-blend-mode: multiply;
        background-color: #de8c11;
        color: #000;
        mix-blend-mode: multiply;
        height: 25px;
        opacity: 0.9;
      }
      
      .edit-button:hover {
        background: rgb(213, 162, 85);
        color: rgba(216, 168, 94, 0.708);
        border: 2px solid rgb(227, 155, 0);
      }
      

    .delete-button {
        font-size: 30px;
        background: #ffffff;
        -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 25%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 25%);
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 6px;
        padding: 1px 1vw;
        mix-blend-mode: multiply;
        background-color: #e9392c;
        color: #000;
        mix-blend-mode: multiply;
        height: 25px;
        opacity: 0.9;
      }
      
      .delete-button:hover {
        background: rgb(235, 161, 161);
        color: rgb(235, 161, 161);
        border: 2px solid rgb(230, 71, 71);
      }
      

    a img {
        width: 15px;
    }
}

.select-dropdown,
.select-dropdown * {
	margin: 0;
	padding: 0;
	position: relative;
	box-sizing: border-box;
}
.select-dropdown {
	position: relative;
	background-color: #E6E6E6;
	border-radius: 4px;
    height: 40px;
    width: 350px;
}
.select-dropdown select {
	font-size: 1rem;
	font-weight: normal;
	max-width: 50%;
	padding: 8px 24px 8px 10px;
	border: none;
	background-color: transparent;
		-webkit-appearance: none;
		-moz-appearance: none;
	appearance: none;
}
.select-dropdown select:active, .select-dropdown select:focus {
	outline: none;
	box-shadow: none;
}
.select-dropdown:after {
	content: "";
	position: absolute;
	top: 50%;
	right: 8px;
	width: 0;
	height: 0;
	margin-top: -2px;
	border-top: 5px solid #aaa;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
}





#login {
    display: flex;
    justify-content: center;
    align-items: baseline;
    height: 100vh;
    width: calc(100vw - 300px);

    .button-login {
        margin-top: 9px;
    }
}

#default {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: calc(100vw - 300px);
}

#default > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;
    height: 98%;
    border-radius: 30px;
    background-color: rgb(249, 249, 249);
    box-shadow: 1px 0px 33px -2px rgba(0, 0, 0, 0.32);
    -webkit-box-shadow: 1px 0px 33px -2px rgba(0, 0, 0, 0.32);
    -moz-box-shadow: 1px 0px 33px -2px rgba(0, 0, 0, 0.32);
}

#default > div > div {
    border-radius: 10px;
    border: 2px solid black;
    padding: 10px;

    h1 {
        max-width: 80%;
    }
}

footer {
    display: flex;
    width: 100vw;
}







#profil {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: calc(100vw - 300px);
}

#profil > div {
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: column;
    width: 98%;
    height: 98%;
    border-radius: 30px;
    background-color: rgb(249, 249, 249);
    box-shadow: 1px 0px 33px -2px rgba(0, 0, 0, 0.32);
    -webkit-box-shadow: 1px 0px 33px -2px rgba(0, 0, 0, 0.32);
    -moz-box-shadow: 1px 0px 33px -2px rgba(0, 0, 0, 0.32);

    h1 {
        margin-top: 5vh;
    }
}
